{% extends "base.html" %}

{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/dashboard.css') }}">
{% endblock %}

{% block content %}
    <div class="admin-dashboard-container">
        <div class="dashboard-title">
            Dashboard
        </div>
        <div class="dashboard-section">
            <h2>Управление базой</h2>
            <div class="dashboard-button-grid">
                <button id="reset-db-button" class="dashboard-button tooltip" data-tooltip="Очистить базу и импортировать данные по умолчанию">
                    Сбросить базу <div id="reset-db-status" class="status"></div>
                </button>
                <button id="refresh-button" class="dashboard-button tooltip" data-tooltip="Обновить данные в области Просмотр документов">
                    Обновить список <div id="refresh-status" class="status"></div>
                </button>
                <button id="clear-db-button" class="dashboard-button tooltip" data-tooltip="Очистить базу данных от всех документов и векторов">
                    Очистить базу <div id="clear-db-status" class="status"></div>
                </button>
                <form id="upload-form" class="dashboard-form outlined-box" enctype="multipart/form-data">
                    <input type="file" id="file-input" name="file" class="dashboard-file-input" multiple accept=".json" required />
                    <button type="submit" id="upload-button" class="dashboard-button rightmost">
                        Импорт <div id="upload-status" class="status"></div>
                    </button>
                </form>
            </div>
        </div>
        <div id="document-viewer" class="dashboard-section">
            <h2>Просмотр документов</h2>
            <div id="documents-list" class="dashboard-scrollable">
                <!-- Список документов будет загружаться сюда -->
            </div>
        </div>
        <div class="dashboard-section">
            <h2>Добавление документа</h2>
            <form id="add-document-form" class="dashboard-form">
                <input type="text" name="title" id="document-title" class="dashboard-input" placeholder="Название документа" required />
                <textarea id="document-content" name="text" class="dashboard-textarea" placeholder="Содержание документа" required></textarea>
                <button type="submit" class="dashboard-button">
                    Добавить документ <div id="add-document-status" class="status"></div>
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='/js/dashboard.js') }}"></script>
{% endblock %}
