* {
  box-sizing: border-box;
}

/* Layout */

.admin-dashboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.dashboard-title {
    display: flex;
    grid-column: 1 / -1;
    justify-content: center;
    font-family: 'Acrom';
    font-weight: 500;
    font-size: 48pt;
}

.dashboard-section {
    display: flex;
    flex-direction: column;
    background-color: #fff6;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.dashboard-scrollable {
    background-color: #fff6;
    margin-top: 20px;
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.dashboard-button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 12px;
    margin-top: 12px;
}

.dashboard-form {
    display: grid;
    gap: 12px;
    margin-top: 12px;
}

.dashboard-input,
.dashboard-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.dashboard-textarea {
    min-height: 120px;
    resize: vertical;
}

.dashboard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 12px;
    cursor: pointer;
}

.status {
    display: inline-block;
    height: 24px;
    width: 24px;
    align-self: center;
    margin-left: 8px;
    
    border: none;
    padding: 0;
    cursor: pointer;

    mask-origin: content-box;
    mask-clip: content-box;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.document-display {
    padding: 15px;
    border: 1.5px solid #000000;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* HTML: <div class="loader"></div> */
.loader {
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #525252 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

/* TOOLTIP */

.tooltip {
  position: relative;
  cursor: pointer;
}

/* Общие стили для подсказки (и треугольника) */
.tooltip::before,
.tooltip::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  pointer-events: none;
}

/* Сама подсказка */
.tooltip::after {
  content: attr(data-tooltip);
  bottom: 100%;       /* Подсказка прямо над элементом */
  margin-bottom: 8px; /* Небольшой отступ от элемента */
  background: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 100;
}

/* Треугольник под подсказкой */
.tooltip::before {
  content: "";
  bottom: 100%;
  border: 5px solid transparent;
  border-top-color: #333;
}

/* Показываем при наведении */
.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

/* TOOLTIP END */


.success {
    background-color: #4caf50;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%22100%25%22%20height=%22100%25%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-check%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22%20/%3E%3Cpath%20d=%22M5%2012l5%205l10%20-10%22%20/%3E%3C/svg%3E");
}

.error {
    background-color: #f44336;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%22100%25%22%20height=%22100%25%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-x%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22%20/%3E%3Cpath%20d=%22M18%206l-12%2012%22%20/%3E%3Cpath%20d=%22M6%206l12%2012%22%20/%3E%3C/svg%3E");
}

.delete {
    background-color: #494949;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%20stroke=%22currentColor%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20class=%22icon%20icon-tabler%20icons-tabler-outline%20icon-tabler-trash%22%3E%3Cpath%20stroke=%22none%22%20d=%22M0%200h24v24H0z%22%20fill=%22none%22%20/%3E%3Cpath%20d=%22M4%207l16%200%22%20/%3E%3Cpath%20d=%22M10%2011l0%206%22%20/%3E%3Cpath%20d=%22M14%2011l0%206%22%20/%3E%3Cpath%20d=%22M5%207l1%2012a2%202%200%200%200%202%202h8a2%202%200%200%200%202%20-2l1%20-12%22%20/%3E%3Cpath%20d=%22M9%207v-3a1%201%200%200%201%201%20-1h4a1%201%200%200%201%201%201v3%22%20/%3E%3C/svg%3E");
}

.delete:hover {
    background-color: #f44336;
}


#document-viewer {
    display: flex;
    grid-row: span 2;
    height: 640px;
    overflow: hidden;
    flex-direction: column;
}

#upload-form {
    display: flex;
    grid-column: span 2;
    align-items: center;
}

#upload-form > *:last-child {
    margin-left: auto;
}

#file-input {
    margin-left: 8px;
}
